@use "../abstract/variables" as variables;
@use "../abstract/mixins" as mixins;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: variables.$color-grey-dark;
}

.heading-primary {
  color: variables.$color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: slide-from-left 0.5s ease-in-out;

    @include mixins.respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.4rem;
    font-weight: 700;
    animation: slide-from-right 0.7s ease-in-out;

    @include mixins.respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, variables.$color-primary-light, variables.$color-primary-dark);
  background-clip: text;
  color: transparent;
  transition: all 0.3s;

  @include mixins.respond(tab-port) {
    font-size: 2.5rem;
  }

  @include mixins.respond(phone) {
    font-size: 2rem;
  }

  &:hover {
    transform: skew(10deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: variables.$default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.5rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
